<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bug Reporter{% endblock %}</title>
    {# -- Lien JS -- #}
    {% block head_js %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    {% endblock %}
    {# -- Lien CSS -- #}
    {% block head_css %}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-primary mb-5">
        <div class="container">
            <img src="http://image.noelshack.com/fichiers/2018/45/3/1541588120-715l3zq8nol.png" width="75"/>
            <h2 class="text-white">Bug Reporter App by BigShaq</h2>
        </div>
    </nav>
</header>

<div class="container">{% block body %}{% endblock %}</div>
{% block javascripts %}{% endblock %}
<footer class="container border-top mt-5 text-center">{% block footer %}<span
            class="text-secondary">BugReporter - ESGI</span>{% endblock %}</footer>

</body>
</html>
